/* Variables */
/*@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300&family=Shantell+Sans:ital@1&display=swap');
*/
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster+Two:ital@0;1&family=Merienda:wght@300&family=Playfair+Display:ital@1&family=Shantell+Sans:ital@1&display=swap");
/*

font-family: 'Bree Serif', serif;
font-family: 'Lobster Two', cursive;
font-family: 'Merienda', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Shantell Sans', cursive;
*/
/*
$tipografiaPrincipal:'Merienda', cursive;
$tipografiaSecond:'Shantell Sans', cursive;
$tipografiaThird:'Lobster Two', cursive;
$tipografiaFourth:'Playfair Display', serif;
$tipografiaFifth:'Bree Serif', serif;
*/
* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  /*padding-bottom: 20px;*/
  flex-direction: wrap;
}

ul {
  list-style: none;
  font-size: 0; /* truco por el uso de inline-block*/
  display: flex;
  margin-top: 40px;
  gap: 20px;
  margin-bottom: 0;
}

li {
  font-size: 1.3rem;
  text-align: center;
  padding: 1px;
}

ul li a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display", serif;
}

header div:nth-child(1) {
  padding: 20px 0px 0px 10px;
}

.redesSociales {
  padding: 40px 50px 0px 0px;
  flex-direction: column;
}

nav {
  text-align: center;
}

.menu__logo {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  margin-left: 30px;
}

.menu {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: "Merienda", cursive;
}

.icon {
  justify-content: center;
  gap: 10px;
}

footer {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #9F9EA1;
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  justify-content: space-evenly;
}

footer a {
  text-align: right;
}

/* -----------------------------  Inicio INDEX ---------------------------------- */
.img1 {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container .card {
  width: 200px;
  height: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  background-color: #EEBBEC;
  background-color: #FFB7FF;
  margin-bottom: 20px;
}
.container .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.container .card img {
  width: 200px;
  height: 220px;
}
.container .card h4 {
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 600;
  color: black;
  font-size: 15px;
  font-family: "Merienda", cursive;
}

.division {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.division .parrafo {
  text-align: center;
  margin: 40px 10px 20px 10px;
  justify-content: center;
  font-family: "Merienda", cursive;
}
.division .content1 {
  width: 48%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #FFB7FF;
  float: left;
  border: inset;
  border: inset 5px #e998e9;
}
.division .content2 {
  width: 48%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #6191b4;
  float: right;
  border: inset 5px #457190;
}

@media (max-width: 768px) {
  .division {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .division .content1 {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #FFB7FF;
    border: inset;
    border: inset 5px #e998e9;
  }
  .division .content2 {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #6191b4;
    border: inset 5px #457190;
  }
}
/*----------------------------------- FIN INDEX -----------------------------------*/
/* ----------------------------  Inicio Page Productos ---------------------------*/
/* ------- Pasteles --------*/
.title {
  font-size: 20px;
  text-align: center;
  background-color: #FFB7FF;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.subMenu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.subTitle {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(97, 145, 180, 0.4862745098);
  margin-top: 40px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

.div_pasteles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #6191b4;
}

.media2 {
  width: 500px;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.media3 {
  width: 400px;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.media4 {
  width: 310px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

/* ----------------------------  Fin Page Productos ---------------------------*/
/* -------------------- Inicio Page Pasteles Tematicos  ---------------------*/
.titlee {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.contenidoCarr {
  width: 100%;
  height: 90vh;
  background-color: #6191b4;
  display: flex;
  justify-content: space-evenly;
}
.contenidoCarr .slide {
  width: 600px;
}
.contenidoCarr .slide img {
  height: 80vh;
  border-radius: 20px;
  margin-top: 30px;
}

.contenidoCarr2 {
  width: 100%;
  height: 90vh;
  background-color: #6191b4;
  display: flex;
  justify-content: space-evenly;
}
.contenidoCarr2 .slide {
  width: 500px;
}
.contenidoCarr2 .slide img {
  height: 80vh;
  border-radius: 20px;
  margin-top: 30px;
}

.contenidoSubTitle {
  display: flex;
  justify-content: space-around;
  background-color: rgba(97, 145, 180, 0.4862745098);
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 10px;
}

/* ----------------------------  Fin Page Pasteles Tematicos -------------------*/
/* ----------------------------  Inicio Page Arma tu Pastel -------------------*/
.PastelIni {
  width: 100%;
  height: auto;
}

.grid-item-div, .containerATP .grid-container .grid-item2 .grid-item22, .containerATP .grid-container .grid-item1 .grid-item11, .containerATP .grid-container .grid-itemBI, .containerATP .grid-container .grid-item {
  display: flex;
  justify-content: center;
  /*background-color: #03afff;*/
  border-radius: 4px;
  border: solid 2px #b06397;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.containerATP {
  width: 75%;
  margin: 0px 12%;
  background-color: #C3CDD5;
}
.containerATP .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 70vh;
  gap: 15px;
  padding: 20px;
  grid-auto-flow: dense;
}
.containerATP .grid-container .grid-item {
  align-items: center;
}
.containerATP .grid-container .grid-itemBI {
  align-items: center;
  text-align: center;
  border-radius: 30px;
}
.containerATP .grid-container .grid-item1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px;
}
.containerATP .grid-container .grid-item1 .grid-item11 {
  padding: 15px;
  align-items: top;
  border-radius: 50px;
}
.containerATP .grid-container .grid-item2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}
.containerATP .grid-container .grid-item2 .grid-item22 {
  width: 100%;
  align-items: top;
  border-radius: 50px;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
}
@media (max-width: 1000px) {
  .containerATP {
    width: 100%;
    margin: 0px;
  }
}
@media (max-width: 800px) {
  .grid-item-div, .containerATP .grid-container .grid-item, .containerATP .grid-container .grid-itemBI, .containerATP .grid-container .grid-item1 .grid-item11, .containerATP .grid-container .grid-item2 .grid-item22 {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    border: solid 2px #b06397;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .containerATP .grid-container {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
  }
  .containerATP .grid-container .grid-itemBI {
    height: 400px;
    align-items: center;
    text-align: center;
    border-radius: 30px;
  }
  .containerATP .grid-container .grid-item1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 5px;
  }
  .containerATP .grid-container .grid-item1 .grid-item11 {
    padding: 15px;
    align-items: top;
    border-radius: 50px;
  }
  .containerATP .grid-container .grid-item2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 10px;
  }
  .containerATP .grid-container .grid-item2 .grid-item22 {
    width: 100%;
    align-items: top;
    border-radius: 50px;
  }
}
/* ----------------------------  Fin Page Arma tu Pastel -------------------*/
/* --------------------------- Inicio Page Pago -------------------------------*/
/*.contectPago{
    display: flex;
    width: 100%;
    justify-content: center;
    background: rgb(240,165,244);
    background: linear-gradient(90deg, rgba(240,165,244,1) 0%, rgba(124,121,124,1) 100%);
    .pagos, .recordatorio{
        height: 450px;
        border-radius: 20px;
        margin: 30px 0px;
    }
}*/
.contectPago {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333269;
}

.InformacionPago {
  width: 100%;
}

.textPago1 {
  position: absolute;
  margin: 10% 0 0 4%;
  text-align: center;
  font-size: 6vw;
  font-size: 2, 6rem;
  font-family: "Merienda", cursive;
}

/*.pagos1{
	width: 100%;
	height: 400px;
	/*background-size: 100% 100%;/
	background-position: center;
	background-repeat: no-repeat;
}*/
/*.contenidoIMG{
	display: flex;
	flex-wrap: wrap;
	background-color: #6191b4;
	.pagos{
		display: flex;

	}
}*/
/* --------------------------- Fin Page Pago -------------------------------*/
/* ----------------------------  Inicio Page Contacto ---------------------------*/
.banner {
  width: 100%;
  height: auto;
}

.map-responsive {
  background: #D4AEEA;
  overflow: hidden;
  padding-bottom: 600px; /*Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50%*/
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  padding: 5vw;
  width: 100%;
  height: 100%;
  position: absolute;
}

.contentContact {
  display: flex;
  background: #D4AEEA;
  align-items: center;
  /*padding-left: 100px;*/
}
.contentContact .formulario {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.contentContact .formulario form {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 60%;
  height: 60vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  border-radius: 10px;
  margin: 50px;
  font-family: "Merienda", cursive;
}
.contentContact .formulario form input, .contentContact .formulario form textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 5px;
  width: 80%;
  margin: 20px;
  transition: all 300ms;
  border-bottom: 1px solid #B7B2C0;
}
.contentContact .formulario form input:focus, .contentContact .formulario form textarea:focus {
  border-bottom-color: blueviolet;
}
.contentContact .formulario form button {
  border: none;
  outline: none;
  padding: 15px;
  width: 35%;
  color: white;
  border-radius: 8px;
  background-color: #333269;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 300ms;
}
.contentContact .formulario form button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 10px;
}

@media (max-width: 800px) {
  .map-responsive {
    padding-bottom: 400px; /*Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50%*/
  }
  .contentContact .formulario {
    width: 100%;
  }
  .contentContact .formulario form {
    display: flex;
    flex-flow: column;
    background-color: white;
    width: 100%;
    height: 60vh;
    padding: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
    border-radius: 10px;
    margin: 20px;
  }
}
/* ----------------------------  Fin Page Contacto ---------------------------*/

/*# sourceMappingURL=style.css.map */
