* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-direction: wrap;
}

ul {
  list-style: none;
  font-size: 0; /* truco por el uso de inline-block*/
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

li {
  font-size: 1.3rem;
  text-align: center;
  padding: 1.6px;
}

ul li a {
  text-decoration: none;
  color: black;
}

.menu__logo {
  width: 50px;
  height: 40px;
}

header div:nth-child(1) {
  padding: 20px 0px 0px 30px;
}

.redesSociales {
  padding: 20px 50px 0px 0px;
}

footer {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #9F9EA1;
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  justify-content: space-evenly;
}

footer a {
  text-align: right;
}

/* -----------------------------  Inicio INDEX ---------------------------------- */
.img1 {
  width: 100%;
  height: 550px;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container .card {
  width: 200px;
  height: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  background-color: #EEBBEC;
  background-color: #FFB7FF;
}
.container .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.container .card img {
  width: 200px;
  height: 220px;
}
.container .card h4 {
  margin-top: 12px;
  margin-bottom: 4px;
  font-weight: 600;
  color: black;
}

.division {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.division .content1 {
  width: 48%;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #FFB7FF;
  float: left;
  border: inset;
  border: inset 5px rgb(138, 127, 127);
}
.division .content2 {
  width: 48%;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #6191b4;
  float: right;
  border: inset 5px rgb(138, 127, 127);
}

.parrafo {
  text-align: center;
  font-family: "Lobster", cursive;
  margin: 40px 10px 20px 10px;
}

/*----------------------------------- FIN INDEX -----------------------------------*/
/* ----------------------------  Inicio Page Productos ---------------------------*/
/* ------- Pasteles --------*/
.title {
  font-size: 20px;
  text-align: center;
  background-color: #FFB7FF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subMenu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.subTitle {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(97, 145, 180, 0.4862745098);
  margin-top: 40px;
}

.div_pasteles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #6191b4;
}

.media2 {
  width: 500px;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.media3 {
  width: 400px;
  height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

.media4 {
  width: 310px;
  height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
}

/* ----------------------------  Fin Page Productos ---------------------------*/
/* --------------------------- Inicio Page Pago -------------------------------*/
.contectPago {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background: rgb(240, 165, 244);
  background: linear-gradient(90deg, rgb(240, 165, 244) 0%, rgb(124, 121, 124) 100%);
}
.contectPago .pagos, .contectPago .recordatorio {
  height: 450px;
  border-radius: 20px;
  margin: 30px 0px;
}

.InformacionPago {
  width: 100%;
  height: 650px;
}

/* --------------------------- Fin Page Pago -------------------------------*/
/* ----------------------------  Inicio Page Contacto ---------------------------*/
.banner {
  width: 100%;
  height: 600px;
}

.contentContact {
  display: flex;
  height: 80vh;
  background: #D4AEEA;
  align-items: center;
  padding-left: 100px;
}
.contentContact .formulario {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.contentContact .formulario form {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 40%;
  height: 400px;
  /*padding: 10px;*/
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  border-radius: 10px;
  padding-top: 20px;
}
.contentContact .formulario form input, .contentContact .formulario form textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 5px;
  width: 80%;
  margin: 20px;
  transition: all 300ms;
  border-bottom: 1px solid #B7B2C0;
}
.contentContact .formulario form input:focus, .contentContact .formulario form textarea:focus {
  border-bottom-color: blueviolet;
}
.contentContact .formulario form button {
  border: none;
  outline: none;
  padding: 15px;
  width: 200px;
  color: white;
  border-radius: 8px;
  background-color: #333269;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 300ms;
}
.contentContact .formulario form button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 10px;
}

/* ----------------------------  Fin Page Contacto ---------------------------*/

/*# sourceMappingURL=style.css.map */
